/* Themefour -- Blue */
.r4HdrCtr {
    background-color: hsl(var(--r4-thm-blue), 89%, 46%);
}

.r4MaiMnu li a {
    background-color: hsl(var(--r4-thm-blue), 89%, 43%);
}

.r4MaiMnu li a:hover {
    background-color: hsl(var(--r4-thm-blue), 89%, 40%);
}

.r4MaiMnu li select {
    border: 1px solid hsl(var(--r4-thm-blue), 89%, 40%);
}

.r4MaiMnu li select option {
    color: hsl(var(--r4-thm-blue), 89%, 40%);
}

.r4MaiMnu li select option:disabled {
    color: var(--rc-grey-dr2);
    background-color: var(--rc-grey-dr);
}

.r4Lnk, .r4Lnk:hover {
    color: hsl(var(--r4-thm-blue), 89%, 40%);
}

.r4BtnSkn {
    background-color: hsl(var(--r4-thm-blue), 89%, 46%);
    color: var(--rc-white);
}

.r4BtnSkn:hover {
    background-color: hsl(var(--r4-thm-blue), 89%, 40%);
    color: var(--rc-white);
}